body {
    background-color: #def5f7;
}

#banner {
    width: 100%;

}

.titulo-principal {
    padding-left: 20px;
}

.titulos {
    text-align: center;
    font-size: 30px;
}

p {
    text-align: center;
}

.texto-salao {
    background-color: #49aae1;
    font-size: 20px;
    padding: 30px;
}

em strong {
    color: rgb(3, 7, 255);
}

.beneficios {
    text-align: left;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    width: 20%;
    margin-right: 15%;


}

.imagem-beneficios {
    width: 50%;
    display: inline-block;


}